body
{
    margin: 0;
    font-family: Segoe UI, Tahoma, Helvetica, Sans-Serif;
    font-size: 14px;
    background-color: #ccd;
}

/* General */

*
{
    -moz-transition-property: color, background;
    -moz-transition-duration: 0.4s;
}
div { margin: 0; }
h2 { color: #999; }
a { text-decoration: none; color: #7777FF; }
a:hover { color: #333; }
td, th { padding: 2px 6px; }
td { border-top: 1px solid #999; }
th { text-align: left; }
table { width: 100%; }
fieldset { padding: 1em; border: 1px solid #999; }
input[type=submit], input[type=button]
{
    color: #333;
    padding: 0x 8px;
    background-image: -moz-linear-gradient(center bottom, #e0e0f0 20%, #f0f0ff 80%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #e0e0f0), color-stop(0.8, #f0f0ff));
}
input:hover, input:focus
{
    background-image: -moz-linear-gradient(center bottom, #eee 20%, #fff 80%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #eee), color-stop(0.8, #fff));
}
input[type=submit]:hover, input[type=button]:hover
{
    background-image: -moz-linear-gradient(center bottom, #d0d0e0 20%, #e0e0f0 80%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #d0d0e0), color-stop(0.8, #e0e0f0));
}

/* Layout */

div#header, div#footer { background-color: #ccd; }
div#footer { padding: 1em 0; }
div#header { padding: 0 0 1em 0; }

div#header h1
{
    color: #fff;
    text-shadow: 2px 2px 2px #336;
}

div#header
{
    background-image: -moz-linear-gradient(center top, #ccd 20%, #dde 80%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #ccd), color-stop(0.8, #dde));
    border-bottom: solid 1px #aaa;
}

div#footer
{
    color: #666;
    background-image: -moz-linear-gradient(center bottom, #ccd 0%, #dde 80%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccd), color-stop(0.8, #dde));
    border-top: solid 1px #aaa;
}

ul#menu
{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#menu li
{
    display: inline;
    padding-right: 2em;
}

ul#menu a
{
    color: #77f; 
    font-weight: bold;
    text-shadow: 1px 1px 1px #aaa;
}
ul#menu a:hover { color: #fff; }

ul#textSize a { color: #99f; font-weight: bold; }
ul#textSize a:hover { color: #fff; }
ul#textSize { list-style: none; margin: 0; padding: 0; }
ul#textSize li { float: left; padding: 0 12px 0 0; }
ul#textSize .smaller { font-size: 0.8em; }
ul#textSize .larger { font-size: 1.4em; }

div#mainContent
{
    color: #666;
    background-color: #fff;
    padding: 1em 0 1em 0;
    min-height: 300px;
}

div.centre
{
    width: 950px;
    margin: 0 auto;
}

/* Forms */

input, select, textarea { border: 1px solid #ccc; margin: 2px; font-size: 1em; color: #666; }
textarea { font-family: Segoe UI, Tahoma, Helvetica, Sans-Serif; width: 25em; height: 7em; }
.field-validation-error, .validation-summary-errors { color: #f00; }
.validation-summary-errors ul { list-style: none; padding-left: 0; }
.display-label, .editor-label { font-weight: bold; width: 10em; float: left; clear: left; }
.editor-field { margin-bottom: 0.75em; }
.display-field, .editor-field { float: left; }
.editor-field ul { margin: 0; padding: 0; list-style: none; }
fieldset p { clear: left; }
p input[type=submit] { margin-left: 10em; }

/* Timesheet page */

.filter
{
    margin-bottom: 1em;
}

#timesheet input.workPackage { width: 12em; }
#timesheet input.hours { width: 4em; }
#timesheet input.comment { width: 20em; }

#timesheet label
{
    display: inline-block;
    width: 12em;
    margin: 3px;
    font-weight: bold;
}

#timesheet .total
{
    margin-left: 13em;
    font-weight: bold;
}

/* Stuff */

tr.overrun { background-color: #fcc; }
tr.clickable { cursor: pointer; }
tr.clickable:hover { background-color: #eee; }
tr.clickable.overrun:hover { background-color: #fbb; }

td.actions { width: 85px; }
td.actions a.details, td.actions a.edit, td.actions a.delete
{
    display: inline-block;
    width: 16px;
    height: 16px;
    text-indent: -6667px;
    overflow: hidden;
    padding-left: 6px;
    background-position: center right;
    background-repeat: no-repeat;
}
td.actions a.details { background-image: url(../Images/page.png); }
td.actions a.edit { background-image: url(../Images/page_edit.png); }
td.actions a.delete { background-image: url(../Images/page_delete.png); }

/* Data display */

ul.pages
{
    list-style: none;
    margin: 1em 0;
    padding: 0;
}

ul.pages li
{
    display: inline;
    padding: 0 1em 0 0;
}

ul.pages li.selected
{
    font-weight: bold;
}
